{% extends 'base.html'%}

# imported form flask bootstrap allowing rendering of forms
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% for message in get_flashed_messages() %}
{{message}}
{% endfor%}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Russo+One" rel="stylesheet">
<div style="background-color: #d90600; padding-bottom: 120px;position: relative;bottom: 36px">
  <div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-top: 5%;">
      <h2 style="text-align: center; color: #ffffff; font-family: 'Russo One', sans-serif;">Got Sumn' to say?</h2>
      <div style="background-color: #000000; padding: 30px;">
        {{ wtf.quick_form(comment_form) }}
      </div>
    </div>
  <div class="col-md-6" style="padding-top: 10%;">
    {% for comment in comments %}
    <div class="well">
      <ul>{{comment.description}}</ul>
      {% if current_user.is_authenticated %}
      <a href="/delete1/{{comment.id}}"><button class="btn btn-danger">DELETE COMMENT</button></a>
      {% endif %}
      </div>
{% endfor %}

          </div>
          </div>
{% endblock%}
