{%extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content%}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Russo+One" rel="stylesheet">
<style media="screen">
    body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
  }
</style>
<div style="background-color: #d90600; height:530px;position: relative;bottom: 36px">
  <div class="row">
    <div class="col-md-6" style="text-align: center; padding-left: 5%;"><img src="../static/21.jpg" alt="21 Savage" height="530px">
    </div>

    <div class="col-md-6" style="text-align: center; padding-right: 5%; padding-top: 5%;">
      <h2 style="text-align: center; color: #ffffff; font-family: 'Russo One', sans-serif;">"Lost his faith in Jesus Christ, he prayin' to a bandana. Police gunned his brother down..."</h2>
      <p style="text-align: right; color: #ffffff; padding-bottom: 12px; padding-right: 8px;">21 Savage - Nothing new</p>
      <div style="background-color: #000000; padding: 30px;">
        <a href="{{url_for('main.subscriber')}}"></a>
      </div>
    </div>
    </div>
