{% extends 'base.html'%}

# imported form flask bootstrap allowing rendering of forms
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% for message in get_flashed_messages() %}
{{message}}
{% endfor%}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Russo+One" rel="stylesheet">
<div style="background-color: #d90600;height:520px;position: relative;bottom: 36px">
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-top: 5%;">
      <h2 style="text-align: center; color: #ffffff; font-family: 'Russo One', sans-serif;">Say Sumn' Yo!</h2>
      <div style="background-color: #000000; padding: 30px;">
      {{ wtf.quick_form(blog_form) }}
    </div>
    </div>
    <div class="col-md-6" style="padding-left: 18%;">
<img src="../static/21.jpg" alt="21 Savage" height="520px">

  </div>

</div>
</div>


{% endblock%}
